[Desktop Entry]
Name=Function
Comment=A Homebrew coding game for NES by Red Moon Games
Exec=fceux open function.zip
Icon=/opt/kano/function-launcher/function-icon.png
Type=Application
Categories=Application;Education;
